.labelEvent1{
	background-color: #FF5733;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent2{
	background-color: #FFC300;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent3{
	background-color: #5B5758;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent4{
	background-color: #315179;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent5{
	background-color: #317579;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent6{
	background-color: #C70039;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent7{
	background-color: #778026;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent8{
	background-color: #DAF7A6;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent9{
	background-color: #E30A6A;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}
.labelEvent10{
	background-color: #C62E35;
	border-radius: 4px;
    font-size: 75%;
    padding: 6px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}