<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container-fluid">

    <div style="cursor: pointer" *ngIf="alert" class="{{ cssClass(alert) }} alert-dismissable" (click)="alert = null">
      {{alert.message}}
      <a class="close">&times;</a>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" name="form" (ngSubmit)="f.form.valid && solicitarCambioClave()" #f="ngForm">
            <div class="text-center">
              <img src="assets/images/logo.png" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Solicitud cambio de clave</h3>
                </div>
              </div>
              <div class="forgot-phone text-right f-right">
                <a [routerLink]="['/login']" class="text-right f-w-600 text-inverse">Ir a login.</a>
              </div>
              <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-email"></i></span>
                <input type="text" class="form-control" placeholder="Digite su correo" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
                <span class="md-line"></span>
              </div>
              <div *ngIf="email.invalid && ( (email.dirty || email.touched) || isSubmitted)"
                   class="alert alert-danger">

                <div *ngIf="email.errors.required">
                  El correo es requerido.
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="submit" (click)="isSubmitted = true" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Solicitar</button>
                </div>
              </div>
              <hr/>
              <!-- <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div> -->
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div class="ie-warning">
  <h1>Warning!!</h1>
  <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
  <div class="iew-container">
    <ul class="iew-download">
      <li>
        <a href="http://www.google.com/chrome/">
          <img src="assets/images/browser/chrome.png" alt="Chrome">
          <div>Chrome</div>
        </a>
      </li>
      <li>
        <a href="https://www.mozilla.org/en-US/firefox/new/">
          <img src="assets/images/browser/firefox.png" alt="Firefox">
          <div>Firefox</div>
        </a>
      </li>
      <li>
        <a href="http://www.opera.com">
          <img src="assets/images/browser/opera.png" alt="Opera">
          <div>Opera</div>
        </a>
      </li>
      <li>
        <a href="https://www.apple.com/safari/">
          <img src="assets/images/browser/safari.png" alt="Safari">
          <div>Safari</div>
        </a>
      </li>
      <li>
        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
          <img src="assets/images/browser/ie.png" alt="">
          <div>IE (9 & above)</div>
        </a>
      </li>
    </ul>
  </div>
  <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
