<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
  <!-- Base Style table start -->
  <div class="card">
    <div class="card-header">
      <h5>Lista de terceros</h5>
      <span>Esta es la lista de terceros.</span>
    </div>
    <div class="card-block">
      <button type="button" [routerLink]="['/home/dr/tercero', '-1']" class="btn btn-primary m-b-20" *ngIf="obtenerCodigoPerfilUsuario() == 'ADMIN' || btnIsVisible == true">+ Nuevo tercero</button>
      <div class="table-responsive">
        <table id="base-tbl" class="table">
          <thead>
          <tr>
            <th scope="col">Editar</th>
            <th scope="col">Foto</th>
            <th scope="col">Identificación</th>
            <th scope="col">Nombre o razón social</th>
            <th scope="col">Dirección</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Celular</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let e of terceros; let i = index">
            <td><a (click)="edit(i)" style="cursor: pointer;"><i class="icofont icofont-edit-alt"></i></a></td>
            <td scope="col"><img src="{{e.urlImage}}" class="img-fluid"></td>
            <td scope="col">{{e.identification}}</td>
            <td>{{e.name}}</td>
            <td>{{e.address}}</td>
            <td>{{e.city}}</td>
            <td>{{e.phone1}}</td>
            <td>{{e.phone2}}</td>
            <td>{{e.email}}</td>
            <td>{{e.status ? 'Activo' : 'Inactivo'}}</td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
  <!-- Base Style table end -->
</div>
