<div class="page-body">
  <!-- Base Style table start -->
  <div class="card">
    <div class="card-block">
      <div id="b-map" class="set-map"></div>
      <div id="legend"></div>
      <div id="btn-div">
        <!--<button type="button" class="btn btn-primary m-b-20" (click)="execute1()" style="margin:5px;">Iniciar</button>
        <button type="button" class="btn btn-primary m-b-20" (click)="execute2()" style="margin:5px;">Iniciar (modo prueba)</button>-->
        <!--<button type="button" class="btn btn-primary m-b-20" (click)="stop()" style="margin:5px;">Detener</button>
        <button (click)="start1()">Start</button>
        <button (click)="stop1()">Stop</button>-->
      </div>
    </div>
  </div>
</div>
